*{
    margin: 0;
    padding: 0;
box-sizing: border-box;
}

.header{
    height: 50px;
    text-align: center;
    font-size: 15px;
}

.header>div{
    height: 50px;
}

.dark{
    width: 3.6%;
    height: 50px;
    background-color: black;
}

.aqua{
width: 3%;
background-color: rgb(13, 182, 182);
}

.header>div:nth-child(3){
line-height: 50px;
width: 80%;
text-align: center;
}

