*{
    margin: 0;
    padding: 0;
box-sizing: border-box;
}

body{
    background-color: rgb(230, 228, 228);
}

.header{
    height: 50px;
    text-align: center;
    font-size: 13px;
    z-index: 99;
    position: fixed;
}

.header>div{
    height: 50px;
}

.dark{
    width: 3.6%;
    height: 50px;
    background-color: black;
}

.aqua{
width: 3%;
background-color: rgb(73, 172, 230);
}

.header>div:nth-child(3){
line-height: 50px;
width: 82%;
text-align: center !important;
}

.header>div:nth-child(4){
    width: 2%;
    background-color: slateblue;
    height: 30px;
    border-radius: 50%;
    line-height: 30px;
    margin-top: 10px;
}

.header>div:nth-child(5){
    width: 6%;
   margin-top: 10px;
}

.header>div>a>button{
width: 80%;
height: 30px;
border-radius: 6px;
opacity: 0.8;
}
/* HEADER DONE UP ABOVE */
/* _____________________________________________________________________________________________________________________________________ */

.createaccount{
height: 75px;
width: 65%;
margin-top:70px;
margin-left: 235px;
box-shadow: 0px 4px 10px 0px rgb(136, 135, 135);
z-index: 90;
border-radius: 4px;
}

.createaccount>p{
    font-size: 15px;
    line-height: 75px;
    margin-left: 70px;
}

img[alt ^='google']{
    width: 10px;
}

.createaccount>a>button{
font-size: 13px;
margin-top: 25px;
height: 30px;
border-radius: 6px;
}

.continue>button{
width: 105%;
   margin-left: 10px;
   border: 0.3px solid;
}

.signup>button{
    width: 95%;
    margin-left: 25px;
    border: transparent;
    background-color: rgb(33, 134, 67);
    color: white;
}

@media screen and (max-width:1300px){
    .createaccount{
        margin-left: 30px;
        width: 90%;
        justify-content: center;
    }

    .createaccount>p{
font-size: 7px;
margin-left: -16px;
    }

    .createaccount>a{
        margin-left: -8px;
    }


    .createaccount>a>button{
        font-size: 8px;
    }
}
/* CREATE ACCOUNT AND MEDIA QUERY DONE HERE */
/* __________________________________________________________________________________________________________________________________ */

.menu{
    position: relative;
    top: 190px;
}

.menu>p{
margin-left: 305px;
font-size: 12px;
opacity: 0.8;
}

.inner_menu{
border: 1px solid;
width: 55%;
height: 600px;
margin-left: 305px;
margin-top: -16px;
display: flex;
}

.left{
width: 16%;
background-color: white;
}

.center{
width: 58%;
background-color: whitesmoke;
}

.right{
width: 26%;
background-color: white;
}

@media screen and (max-width:1300px) {
    .menu{
        margin-left: -260px;
text-align: center;
    }
    .inner_menu{
        margin-left: 425px;
    }
    .menu>p{
        margin-left: 425px;
    }
}
/* BODY OF MENU AND IT'S MEDIA_QUERY DONE UP ABOVE */
/* _________________________________________________________________________________________________________________________________ */

.left>p{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-top: 25px;
    margin-left: 25px;
    opacity: 0.8;
font-size: 19px;
}

.left>div>ul>li{
    margin-bottom: 15px;
}

.left>div>ul>li>a{
    text-decoration: none;
    color: black;
    opacity: 0.3;
    font-size: 10px;
    margin-left: 36px;
    font-weight: bold;
}

.active{
    color: black;
    opacity: 1.0 !important;
}

.left>div>ul>li:last-child{
margin-top: 210px;
}

.logout{
    color: red !important;
opacity: 1.0 !important;
}

@media screen and (max-width:1300px) {
.left>p{
    font-size: 8px;
    margin-left: 2px;
}
    .left>div>ul>li>a{
        font-size: 6px;
        margin-left: 2px;
    }
    .left>div>ul>li:last-child{
        margin-top: 140px !important;
    }
}
/* LEFT MENU AND MEDIA QUERY DONE UP ABOVE */
/* _____________________________________________________________________________________________________________________________ */

.welcome_back{
    margin-top: 25px;
}

.welcome_back>p{
    font-size: 14px;
    font-weight: bold;
    margin-left: 15px;
}

.welcome_back>p>span{
    font-weight: lighter;
}

.input_destination{
    margin-left: 55px;
}

.input_destination>input{
    height: 32px;
    border-radius: 6px;
    border: 0.1px solid rgb(206, 205, 205);
}

.discount{
    margin-top: 22px;
}

.discount_box1{
    background-color: rgb(207, 206, 206);
    width: 33%;
    height: 160px;
    margin-left: 20px;
    border-radius: 14px;
}

.discount_box2{
    background-color: rgb(252, 211, 217);
    width: 54%;
    height: 160px;
    margin-left: 15px;
    border-radius: 14px;
}

.popular{
font-size: 12px;
font-family:Georgia, 'Times New Roman', Times, serif;
margin-top: 34px;
margin-left: 22px;
}

.popular>span{
    margin-left: 235px;
    font-size: 9px;
}

.display{
    margin-top: 30px;
}

.display>div{
    background-color: rgb(206, 205, 205);
width: 27%;
height: 160px;
margin-left: 20px;
border-radius: 6px;
}

.display_details_name>span{
    font-size: 9px;
    font-weight: bold;
    margin-left: 22px;
}

.display_details_name>span:nth-child(2){
    margin-left: 60px;
}

.display_details_name>span:nth-child(3){
    margin-left: 71px;
}

.display_details_price{
    font-size: 8px;
    font-weight: bold;
    margin-top: -15px;
}

.display_details_price>span{
    margin-left: 23px;
}

.display_details_price_containerTWO{
   padding-left: 28px;
}

.display_details_price_containerTHREE{
    margin-left: 28px;
}

.first_star{
margin-left: 54px;
}

.second_star{
margin-left: 54px;
}

.third_star{
margin-left: 54px;
}

@media screen and (max-width:1300px) {
    
}

/* CENTER MENU AND MEDIA QUERY DONE HERE*/
/* __________________________________________________________________________________________________________________________________ */


/* .right_one{
   margin-left: 10px !important;
} */

.right_one>strong{
    font-size: 10px;
    margin-left: 4px;
}

.right_one>img{
    width: 27px;
    border-radius: 50%;
}

img[alt $='bell']{
    margin-left: 75px;
}

.horizontalrule{
    margin-left: 8px;
    opacity: 0.2;
    margin-top: -12px;
}

@media screen and (max-width:1300px) {
    .right_one{
        margin-left: 0px;
    }
    .right_one>img{
        width: 12px;
    }
    .right_one>strong{
        font-size: 6px;
    }
    img[alt $='bell']{
        margin-left: 10px;
    }
    .horizontalrule{
        display: none;
    }
}

.leftarrow{
    margin-top: -10px;
    margin-left: 17px;
    font-size: 15px;
    font-weight: bolder;
}

.leftarrow>span{
    font-size: 12px;
    margin-left: 30px;
}

.item_one{
    background-color: rgb(224, 222, 222);
    width: 43%;
    height: 104px;
    border-radius: 8px;
    margin-top: -10px;
    /* margin-left: 8px; */
}

.list_one>ul>li{
    font-size: 8px;
    /* font-weight: bold; */
    margin-bottom: 3px;
}

.list_one>ul>li>button{
    padding: 0.1px 3px;
    border: 0.2px solid rgb(241, 240, 240);
    font-weight: bolder;
    background-color: white;
}

.item_two{
    background-color: rgb(224, 222, 222);
    width: 43%;
    height: 104px;
    border-radius: 8px;
    margin-top: -10px;
}

.horizontalrule_two{
    margin-top: -10px;
    opacity: 0.2;
}

.list_two>ul>li{
    font-size: 8px;
    /* font-weight: bold; */
    margin-bottom: 3px;
}

.list_two>ul>li>button{
    padding: 0.1px 3px;
    border: 0.2px solid rgb(241, 240, 240);
    font-weight: bolder;
    background-color: white;
}

.horizontalrule_three{
    margin-top: -10px;
    opacity: 0.2;
}

.total_addtocart{
margin-top: 40px
}

.total_addtocart>p{
    font-size: 8px;
    font-weight: bold;
    opacity: 0.8;
}

.total_addtocart>p>span{
    margin-left: 75px;
}

.total_addtocart>p:last-child{
    margin-top: -8px;
}

.horizontalrule_four{
    margin-top: -27px;
    opacity: 0.2;
}

.total{
    font-size: 10px;
    margin-top: -10px;
}

.total>span{
    font-size: 8px;
    margin-left: 85px;
}

.btn_addtocart{
margin-left: 10px;
}

.btn_addtocart>button{
    background-color: rgb(59, 78, 59);
    padding: 6px 58px;
    border-radius: 20px;
    font-size: 10px;
    border: none;
}

@media screen and (max-width:1300px) {
    .leftarrow{
        display: none;
    }
    .leftarrow>span{
        font-size: 6px;
    }
    .horizontalrule_two,.horizontalrule_three,.horizontalrule_four{
        display: none;
    }
    .shopped_list_one{
margin-top: 16px;
    }
    .shopped_list_two{
        margin-top: 14px;
    }
    .list_one>ul>li{
        font-size: 6px;
    }
    .list_two>ul>li{
        font-size: 4px;
    }
    .total_addtocart, .total_addtocart>p, .total_addtocart>p>span{
font-size: 6px;
margin-left: 2px;
    }
    .total, .total>span{
font-size: 6px;
margin-left: 2px;
    }
    .btn_addtocart, .btn_addtocart>button{
font-size: 6px;
padding: 2px 10px;
    }
}

/* RIGHT MENU AND MEDIA_QUERY DONE UP ABOVE */
/* ______________________________________________________________________________________________________________________________ */



